<div class="p-2 bg-white">
<h3 class="font-semibold mb-2 mt-0 pt-2 text-lg">Posting to Schulminator</h3>
<%= image_tag "undraw_master_plan_95wa.png" , size: "", alt: "Guidelines Logo", class: "mx-auto w-full" %>
<ol class="list-none leading-loose p-2 text-sm">
  <li class="border-b py-1">Remember the human</li>
  <li class="border-b py-1">Behave like you would in real life</li>
  <li class="border-b py-1">Look for the original source of content</li>
  <li class="border-b py-1">Search for duplicates before posting</li>
  <li class="border-b py-1">Read the community’s rules</li>
</ol>
</div>