<div class="bg-gray-800 text-gray-100 p-4 mt-12 pb-16">
    <p class="mt-6 mb-8 font-bold text-xl">Here comes the footer</p>
    <div class="flex justify-between mb-40">
        <%= link_to "About", about_path, class: "text-white" %>
        <%= link_to "Imprint", imprint_path, class: "text-white" %>
        <%= link_to "Privacy", privacy_path, class: "text-white" %>
        <%= link_to "Contact", contact_path, class: "text-white" %>
    </div>
</div>